.entity-ding-type.ding-type-ding-interaction {
  background-color: #006fb9;
  color: #fff;
  padding: 30px;
}

.pane-interaction-pane {
  padding: 0;
}

.entity-ding-type.ding-type-ding-interaction .pane-title {
  font-size: 130%;
  margin-bottom: 1em;
}

.ding-interaction-pane .close-btn,
.ding-interaction-pane a.close-btn.button,
.ding-interaction-pane a.close-btn.button:link,
.ding-interaction-pane a.close-btn {
  color: #fff;
}

.ding-interaction-pane .close-btn:hover,
.ding-interaction-pane a.close-btn.button:hover,
.ding-interaction-pane a.close-btn.button:link:hover,
.ding-interaction-pane a.close-btn:hover {
  color: #d5d5d5;
}